DB_NAME=semodb
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=semo
DATA_FILE_PATH=/mnt/storage/semo_data/openfoodfacts-products.jsonl.gz
STATE_FILE=import_state.json
ERROR_LOG_FILE=import_errors.jsonl
LOG_FILE=process_output.log
BATCH_SIZE=2000